html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.input {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 22px;
  text-align: center;
  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    font-size: 26px;
  }
  &-message {
    display: block;
  }
  &-list {
    padding-left: 0;
    font-size: 26px;
    & li {
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
}

.country__title-name {
  text-align: center;
  font-size: 52px;
  margin: 0 auto;
  color: #a73939;
}

.country__box {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.country__text {
  font-size: 30px;
  color: #a73939;
  & span {
    font-weight: bold;
  }
}

.country__languages-list {
  font-size: 32px;
  padding-left: 60px;
}

.country__img {
  width: 50%;
}
.container {
  border: 2px solid #000;
  border-radius: 5%;
  width: 920px;
  margin: 0 auto;
}
